.navbar{
  width: 100vw;
  height:8vh;
  background-color: white;
  color:#1574bb;
  font-size: 2vw;
  padding:2vh;
  padding-right: 0;
  display: flex;
  border-radius: 2vh;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}
.logo-img{
  width:10vw;
  height:8vh;
  resize: both;
}
.nav_list{
  width:50vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_links{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 2.2rem;
  width: 10rem;
}
.nav_links:hover{
  background-color: black;
  color:white;
}
