* {    
    margin: 0;
    padding: 0;
  }
  .main-body{
    padding-top: 10vh;
    display: flex;
    width:90vw;
    height:70vh;
  }
  .leftpanel{
    width:40vw;
    font-size: 2.3vh;
    padding-top: 5vh;
    height: 92vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gainsboro;

  }
  .friend_list{
    height:20vh;
    width: 34.8vw;
    border-color: black;
    border-width: .1vw;
    border-style: solid;
    background-color: white;
    display: flex;
    align-items: center;

  }
  .name{
    padding-left: 5vw;
    font-size: 3vw;;
  }
  .name:hover{
    color:gainsboro;
    cursor: pointer;
  }
  .profile_pic{
    padding-top: 1vh;;
    width: 10vw;
    height:16vh;
    padding-left: .2vw;
  }
  .friends_logo{
    padding-right: 2vw;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
  }
  .search_icon{
    padding-right: 2vw;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
  }
  .title{
    padding-left: 5vw;
    font-size: 4vw;
    margin-top: 5vh;
  }
  .search_icon:hover{
    filter: invert(100%);
  }
  .friends_logo:hover{
    filter: invert(100%);
  }
  .friends_add_logo:hover{
    filter: invert(100%);
  }
  .friends_add_logo{
    padding-left: 2vw;
    width: 5vw;
    cursor: pointer;
    height: 5vh;
  }
  .friendsmenu{
    width:35vw;
    height: 85vh;
    background-color: white;
  }
  .friend_title{
    background-color: #1574BB;
    height:10vh;
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  .friend-profile{
    display: flex;
    align-items: center;
    height:20vh;
    background-color: #1574BB;
    color:white;
    justify-content: center;  
    align-items: center;
  }
  .txt-msg{
    height:55vh;
    background-color: white;
  }
  .msg-bar{
    height:15vh;
    display: flex;
    align-items: center;
    
    justify-content: center;
    background-color: white;
  }
  .msg-board{
    height:10vh;
    width:40vw;
    border-radius: 2vw;
    display: flex;
    text-align: center;
  }
  .rightpanel{
    width:60vw;
    height: 90vh;
    background-color: gainsboro;
    margin-left: 2vw;
  }
  .clip_img{
    height:7vh;
    width:7vw;
    cursor: pointer;
  
  }
  .smile_img{
    height:7vh;
    width:7vw;
    cursor: pointer;
  }
  .mic_img{
    height:7vh;
    width:7vw;
    cursor: pointer;
  
  }
  .clip_img:hover{
    filter: invert(75%);
  }
  .mic_img:hover{
    filter: invert(75%);
  }
  .smile_img:hover{
    filter: invert(75%);
  }